:root {
  --primary: #32696d;
  --secondary: #14242a;
  --tertiary: #79cdcc;
  --font-color: #fcf8f1;
  --hover-color: #ba9cf5;
  --font-size: 1.3rem;
  --primary-font: 'Belleza', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
  --tertiary-font: 'Playwrite NZ', cursive;
  --comp-b-radius: 10px;
  --img-b-radius: 8px;
}

.belleza-regular {
  font-family: 'Belleza', sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* generic styles for the page */
body {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  background-image: url('../Public/img/JC(HighContrast).png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;
  color: var(--font-color);
  font-size: var(--font-size);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
}

a {
  color: var(--font-color);
}

a:hover {
  color: var(--hover-color);
  text-decoration: none;
}

.submit {
  background-color: var(--tertiary);
  color: var(--secondary);
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  font-family: var(--secondary-font);
  text-decoration: none;
  transition: 0.2s ease;
}

.submit:hover {
  color: var(--font-color);
  background-color: var(--hover-color);
  box-shadow: 0 0 25px rgba(255, 23, 228, 0.5);
}

/* footer section */
footer {
  text-align: center;
  padding: 4rem 0 1rem 0;
  color: var(--font-color);
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
}