#artists {
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

#artists h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

#artists h3 {
    color: var(--font-color);
}

.artist-list {
    columns: 18rem;
    gap: 0.25rem;
    counter-reset: grid;
}

@media (max-width: 903px) {
  #artists {
    max-width: 720px;
  }
}

@media (max-width: 611px) {
  #artists {
    max-width: 380px;
  }
}

@media (max-width: 480px) {
  #artists {
    padding: 0rem;
    margin: 1rem 1.5rem;
  }
}


