#artists {
  display: flex;
  flex-direction: column;
  justify-items: center;
  max-width: 1100px;
  margin: 6.5rem auto;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

#artists h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#artists h3 {
  color: var(--font-color);
}

@media (min-width: 904px) {
  .artist-list {
      column-width: 14rem;
      column-count: 3;
      gap: 0.25rem;
      counter-reset: grid;
  }
}

@media (max-width: 1012px) {
  #artists {
      max-width: 700px;
  }
  .artist-list {
    column-width: 14rem;
    column-count: 2;
    gap: 0.25rem;
    counter-reset: grid;
}
}

@media (max-width: 680px) {
  #artists {
      max-width: 348px;
      padding: 0 1rem;
  }
  .artist-list {
    column-width: 14rem;
    column-count: 1;
    gap: 0.25rem;
    counter-reset: grid;
}
}
