#artists {
  padding: 4rem 1rem;
  margin: 0 auto;
  max-width: 1200px;
}

#artists h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

#artists h3 {
  color: var(--font-color);
}

#artists ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

.artist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}