#shop {
    margin: 5.5rem auto;
    max-width: 1200px;
    margin-bottom: 2rem;
}

#shop h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#shop h3 {
    margin: 0 auto;
}

.shop-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.loading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6.5rem auto;
}

@media (max-width: 480px) {
    #shop {
        padding: 0rem;
        margin: 5.5rem 1.5rem;
    }
}
