#shop {
    padding: 2rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

#shop h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.shop-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.loading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto ;
}

@media (max-width: 480px) {
    #shop {
        padding: 0rem;
        margin: 1rem 1.5rem;
    }
}