#shop {
    padding: 2rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

#shop h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.shop-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.loading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto ;
}

@media (max-width: 480px) {
    #shop {
        padding: 0rem;
        margin: 1rem 1.5rem;
    }
}

.firefly-card {
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem auto;
  width: 100%;
  height: 100%;
  max-width: 300px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 5px 5px 5px rgba(20, 36, 42, 0.4);
}

h3.firefly-shop {
  margin:2rem 0 1rem 0;
}

.firefly-card img {

  border-radius: 8px;
}

.firefly-card h4{
  margin-top:.5rem;
  margin-bottom: 2rem;
}


.firefly-card .price {
  margin-top: auto;
}

.firefly-card a {
  text-decoration: none
}

.firefly-card:hover {
  cursor: pointer;
  color: var(--hover-color);
  text-decoration: underline;
}