#hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 3rem;
    height: 85vh;
    color: var(--secondary);
}

#hero .heroContainer {
    margin: 0 auto;
    padding: 1rem 2rem 2rem 2rem;
    height: fit-content;
    width: auto;
}

#hero .tagline {
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
    margin-right: auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: var(--primary-font);
}

#hero .welcome {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    padding: 0;
    font-weight: 600;
    margin: 0;
}

#hero .records {
    font-family: var(--primary-font);
    font-size: 6.25rem;
    height: fit-content;
    color: var(--aqua);
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 700;
}

.listen {
    background-color: var(--hover-color);
    color: var(--secondary);
    padding: 0.5rem;
    margin-right: 1.5rem;
    border-radius: 0.5rem;
    font-family: var(--secondary-font);
    text-decoration: none;
    transition: 0.2s ease;
    font-weight: bold;
    border: 1px double rgba(0, 0, 0, 0.5);
}

.demo {
    background-color: var(--tertiary);
    color: var(--secondary);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-family: var(--secondary-font);
    text-decoration: none;
    transition: 0.2s ease;
    font-weight: bold;
    border: 1px double rgba(0, 0, 0, 0.5);
}

.listen:hover {
    color: var(--font-color);
    background-color: var(--hover-color);
    box-shadow: 0 0 25px 1px rgba(255, 255, 255, 0.5);
    border: 1px double rgba(255, 255, 255, 1);
}

.demo:hover {
    color: var(--font-color);
    background-color: var(--tertiary);
    box-shadow: 0 0 25px 1px rgba(255, 255, 255, 0.5);
    border: 1px double rgba(255, 255, 255, 1);
}

@media (max-width: 514px) {
  #hero {
    margin: 1.25rem 0 1rem 0;
  }
  
  #hero .heroContainer {
    padding: 1rem;
    margin: 0 auto;
  }
  
  #hero .welcome {
    font-size: 1.2rem;
    margin: 0;
  }
  #hero .records {
    text-align: center;
    height: fit-content;
    max-width: 100vw;
    font-size: 2.3rem;
  }
  
  #hero .tagline {
    display: flex;
    text-align: justify;
    padding: 0 0 1rem 0;
    margin: 0;
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .listen {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    background-color: var(--hover-color);
    color: var(--secondary);
    width: 180px;
    padding: 0.5rem;
    margin: 0.75rem;
    border-radius: 0.5rem;
    font-family: var(--secondary-font);
    text-decoration: none;
    transition: 0.2s ease;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.5);
  }
  .listen:hover {
    color: var(--font-color);
    background-color: var(--hover-color);
    box-shadow: 0 0 25px 1px rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 1);
  }
  
  .demo {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    background-color: var(--tertiary);
    color: var(--secondary);
    width: 180px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-family: var(--secondary-font);
    text-decoration: none;
    transition: 0.2s ease;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.6);
  }
  .demo:hover {
    color: var(--font-color);
    background-color: var(--tertiary);
    box-shadow: 0 0 25px 1px rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 1);
  }
}

@media (max-width: 480px) {
  #hero .welcome {
    font-size: 1.2rem;
    margin: 0;
  }
  #hero .records {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: auto;
    white-space: nowrap;
  }
  
  #hero .tagline {
    display: flex;
    text-align: justify;
    padding: 0 0 1rem 0;
    margin: 0;
    font-weight: 600;
    font-size: 1.2rem;
  }
}
@media (max-width: 370px) {
  #hero .welcome {
    font-size: 1rem;
    margin: 0;
  }
  #hero .records {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 100%;
    font-size: 1.8rem;
    white-space: nowrap;
  }
  
  #hero .tagline {
    display: flex;
    text-align: justify;
    padding: 0 0 0.25rem 0;
    margin: 0;
    font-weight: 600;
    font-size: 1rem;
  }
}

/* @media (max-width: 370px) {
    #hero .container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
  } */