/* News Card */
.news-card {
    background-color: var(--secondary);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
  
  .news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .news-card:hover {
    cursor: pointer;
  }
  
  .news-img {
    width: 100%;
    border-radius: 10px;
    padding: 30px;
  }


  /* Large News Card */
  .news-card-large {
    width: 100%;
    max-width: 600px;
  }
  
  .news-img-large {
    width: 100%;
    border-radius: 10px;
    padding: 30px;
  }