/* News Card */
.news-card {
    background-color: var(--secondary);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    max-width: 300px;
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news-card:hover {
    cursor: pointer;
    color: var(--hover-color);
    text-decoration: underline;
}

.news-title {
    width: 80%;
    margin-top: auto;
    margin-bottom: 1.5rem;
}

.news-img {
    border-radius: 8px;
    margin-top: auto;
}

/* Large News Card */

#news-large {
    padding: 4rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

.news-card-large {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-img-large {
    width: 50%;
    border-radius: 10px;
    padding: 40px;
}

.news-title-large {
    color: var(--secondary);
    font-size: 2.5rem;
}

.news-paragraph-large {
    color: var(--secondary);
    font-family: var(--secondary-font);
    width: 50%;
    text-align: center;
}

@media (max-width: 695px) {
    .news-card {
        margin: 0.25rem 1rem;
    }
}
