#news {
    margin: 5.5rem auto;
    max-width: 1200px;
    margin-bottom: 2rem;
}

#news h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.news-list-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#news .newsMsg {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: .5rem 0;
}

@media (max-width: 480px) {
    #news {
        padding: 0rem;
        margin: 5.5rem 1.5rem;
    }
}
