#news {
    padding: 4rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

#news h2 {
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
}

.news-list-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#news p {
    display: flex;
    justify-content: center;
}
